<ul class="actions">
    <li class="pull-right">
        <a class="action-btn btn-primary" href="{{ show_link }}"><span class="glyphicon glyphicon-eye-open"></span></a>
    </li>
    <li class="pull-right">
        <a class="action-btn btn-info" href="{{ edit_link }}"><span class="glyphicon glyphicon-pencil"></span></a>
    </li>
</ul>