<a class="btn btn-primary pull-right" href="{{ new_link }}"><span class="glyphicon glyphicon-plus"></span></a>
<a class="btn btn-primary pull-right" href="{{ print_link }}"><span class="glyphicon glyphicon-print"></span></a>
<a class="btn btn-primary pull-right" href="{{ export_link }}"><span class="glyphicon glyphicon-export"></span></a>